@using RestSharp;
@using System.Text.Json;
@using System.Xml.Serialization;
@using static global::Movies.Quote
@using static global::Movies.MovieJson
@using System;
@using System.IO;

<style>
	body {
		text-align: center;
		background-color: grey;
	}

	input {
		border-radius: 2vw;
	}

	img {
		height: 300px;
		width: 300px;
		border-radius: 1vw;
	}

	button {
		border-radius: 1vw;
		color: rebeccapurple;
	}

	#summary {
		border-left: 2vw;
		border-right: 2vw;
	}

</style>


<h3>MovieSection</h3>

<input @bind=searchValue />
<button @onclick="getShows"> search</button>
<br />
<div>

	@if (searchedMovie != null)
	{
		<b><p>@searchedMovie.MovieName</p></b>
		<br />
		<img src="@searchedMovie.Image" />
		<p>
			Rating:
			@if (@searchedMovie.Rating != null)
			{
				@searchedMovie.Rating
			}
		</p>
		<br />
		<p id="summary">
			Summary: @searchedMovie.Description
		</p>
	}
	@if (searched == true && foundShow == false)
	{
		<p>Sorry no match found</p>
	}



</div>

<div>
</div>

@code {
	string searchValue = null;
	Rootobject movie = null;
	Movies searchedMovie = null;
	bool searched = false;
	bool foundShow = false;

	public void getShows()
	{
		searched = true;
		if (searchValue != null)
		{
			var client = new RestClient("https://api.tvmaze.com/singlesearch/shows?q=" + searchValue);
			var request = new RestRequest();
			var response = client.Execute(request);
			if (response != null)
			{
				movie = JsonSerializer.Deserialize<Rootobject>(response.Content);
				if (movie != null)
				{
					if (movie.rating.average != null)
					{
						searchedMovie = new Movies(movie.name, (Double)movie.rating.average, movie.summary, movie.image.original, movie.genres);
					}
					if (movie.rating.average == null)
					{
						searchedMovie = new Movies(movie.name, movie.summary, movie.image.original, movie.genres);
					}
					//test if a match was found
					Console.WriteLine(searchedMovie.MovieName + " was found");
					foundShow = true;


				}
				else if (movie == null)
				{
					searchedMovie = null;
					foundShow = false;
					//test if no match was found
					Console.WriteLine("no match found for film or series");

				}

			}




		}
	}



}
